.logo__input {
  align-items: center;
  background-color: #f5f5f5;
  border: none;
  color: #a2a2a2;
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 20px;
  line-height: 16px;
  width: 370px;
}
